@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  width: 35rem;
  height: 27rem;
  border-radius: 10px;
  overflow: hidden;
}

.product {
  display: flex;
}

.product--left {
}

.product-photo-2 {
  display: none;
}

.product--right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  background-color: white;
  padding: 1.8rem;
}

.small-title {
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.title {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  line-height: 2rem;
}

.description {
  font-size: 0.82rem;
  line-height: 1.3rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.prices {
  display: flex;
  margin-bottom: 0.3rem;
  align-items: center;
}

.price {
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-right: 1rem;
}

.price-old {
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.button-cart {
  display: flex;
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  padding: 0.9rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.button-cart:hover {
  background-color: hsl(158, 36%, 25%);
}

.cart-icon {
  margin-right: 0.6rem;
}

@media (max-width: 600px) {
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 37rem;
    border-radius: 10px;
    overflow: hidden;
  }

  .product {
    display: flex;
  }

  .product-photo-1 {
    display: none;
  }

  .product-photo-2 {
    display: block;
    width: 100%;
  }

  .product--right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    background-color: white;
    padding: 1.8rem;
  }
}
